<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<!-- 현재 파일 : ex3.html, layout/base.html 파일을 상속 받을거야. -->
<!--이용시, base.html 에 있는 layout:fragment="content" 이용할 예정-->
<body>
<div layout:fragment="content">
    <h1>ex3.html에서 작업한 화면입니다.</h1>
    <p>나머지 영역(헤더, 푸터 등)은 base.html의 구성을 따릅니다.</p>
</div>

<script layout:fragment="script" th:inline="javascript">
    const arr = [[${strList}]]
    console.log("arr : ", arr)
</script>