<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공통 레이아웃</title>
</head>
<body>
<div>
    <h3>샘플 레이아웃 헤더</h3>
</div>
<!--중요 포인트1-->
<!-- layout:fragment="content" fragment 지정을 해준 부분만 수정해서 사용 가능 -->
<div layout:fragment="content">
    <p>페이지 콘텐츠 부분이고, 동적으로 교체될 예정</p>
</div>
<div>
    <h3>샘플 레이아웃 푸터</h3>
</div>

<!--중요 포인트2-->
<!--공통의 자바스크립트의 영역-->
<th:block layout:fragment="script">

</th:block>

</body>
</html>