<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<!-- 현재 파일 : ex3.html, layout/base.html 파일을 상속 받을거야. -->
<!--이용시, base.html 에 있는 layout:fragment="content" 이용할 예정-->
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board register
                </div>
                <div class="card-body">

                    <form action="/board/register" method="post">
                        <div class="input-group mb-3">
                            <label class="input-group-text">Title</label ><input type="text" class="form-control" name="title" placeholder="board 제목을 입력해주세요">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Content</label >
                            <textarea class="form-control col-sm-5" name="content" rows="5"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Writer</label ><input type="text" class="form-control" name="writer">
                        </div>




                        <div class="mb-3">
                            <button class="btn btn-primary submitBtn" type="submit">등록하기</button>
                            <button class="btn btn-secondary" type="reset">초기화</button>
                        </div>
                    </form>
                </div>


                <!-- 첨부 이미지 작업 -->
                <div class="mb-3 input-group">
                    <span class="input-group-text">첨부파일:  </span>
                    <div class="uploadHidden">
                        <!--첨부한 이미지의 요소를 첨부할 예정. 서버 전달용이라서, -->
                        <!-- 숨겨 두기.-->
                        <button type="button" class="btn btn-primary uploadFileBtn">파일추가</button>
                    </div>
                </div>

                <!--                        첨부한 이미지 섬네일 화면 미리보기 영역, -->
                <div class="row mt-3">
                    <div class="col">
                        <div class="d-flex uploadResult" style="flex-wrap: wrap">

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--                        첨부할 이미지 모달창 추가,(화면에 출력되어있지만 가려진 상태)-->
    <!--    첨부 파일 업로드 하는 폼 , 모달창 필요함. -->
    <!--    댓글 작성 모달 창 폼-->
    <!-- Modal -->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>업로드 파일</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <!--                        <span class="input-group-text">첨부 파일</span>-->
                        <input type="file" name="files"
                               class="form-control" multiple></input>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary closeRegisterBtn" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary uploadBtn">업로드하기</button>
                </div>
            </div>
        </div>
    </div>
    <!--모달창 끝-->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>


</div>

<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]]
    console.log("서버로부터 받은 유효성 체크 오류 : ", errors)

    let errorMsg = ''
    if(errors) {
        for ( let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}는 : ${errors[i].code} \n`
        }
        alert(errorMsg)
    }


    // 파일 업로드 작업
    // 순서1, 첨부 파일 업로드 모달창 띄우기.
    const uploadModal = new bootstrap.Modal(
        document.querySelector(".uploadModal")
    )
    document.querySelector(".uploadFileBtn").addEventListener("click",
        function (e) {
            e.stopPropagation();
            e.preventDefault();
            uploadModal.show();
        },false)



    // 순서2,  첨부 파일 모달창에서, 파일 추가시 로직.
    document.querySelector(".uploadBtn").addEventListener("click",
        function (e){
            const formObj = new FormData();
            // input 태그에서 이름 files의 요소를 선택.
            const fileInput = document.querySelector("input[name='files']")

            console.log(fileInput.files)

            // 선택된 파일들에서, 파일 객체 뽑아서 전달해주기.
            for( let i = 0; i < fileInput.files.length; i++) {
                formObj.append("files", fileInput.files[i])
            }

            console.log("formObj " + formObj)

            // axios 이용해서, 비동기 통신 하기.
            uploadToServer(formObj).then(
                result => {
                    // console.log(result)
                    // 섬네일 이미지를 표시하는 부분에 추가.
                    // 함수를 만들어서, 출력하는 기능 추가.
                    //, result : 서버에 이미지 파일을 업로드 후,
                    // uuid_파일명 형식의 리스트
                    // uploadResult , 하나의 이미지 파일명을 의미.
                    for (const uploadResult of result) {
                        console.log("uploadResult : "+ uploadResult)
                        console.log("uploadResult.uuid : "+ uploadResult.uuid)
                        console.log("uploadResult.fileName : "+ uploadResult.fileName)
                        console.log("uploadResult.link : "+ uploadResult.link)
                        // showUploadFile , 임의의 함수
                        showUploadFile(uploadResult)
                    }
                    uploadModal.hide()
                }
            )
                .catch(e => {
                    uploadModal.hide()
                })
        },false)

    // 순서3
    // 섬네일 이미지를 출력하는 기능.showUploadFile
    // 결과 화면을 출력할 요소를 지정.
    const  uploadResult = document.querySelector(".uploadResult")
    function showUploadFile({uuid, fileName, link}) {
        const str = `
        <div class="card col-4">
            <div class="card-header d-flex justify-content-center">
                ${fileName}
                <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}','${fileName}',this)">X</button>
            </div>
            <div class="card-body">
                <img src="/view/${link}" data-src="${uuid+"_"+fileName}">
            </div>
        </div>
`
        uploadResult.innerHTML += str
    }

    // 순서4,
    // 첨부된 이미지가 미리보기 화면에서, x 클릭식, 삭제되는 이벤트 처리 .
    function removeFile(uuid, fileName, obj) {
        console.log("uuid : " + uuid)
        console.log("fileName : " + fileName)
        console.log("obj : " + obj)

        // x , 삭제를 요청한 요소에서, 가장 가까운 카드 요소를 선택.
        // 버튼으로 부터 가장 가까운 카드 요소
        const targetDiv = obj.closest(".card")

        // 미디어 서버에서, 이미지가 삭제가 된다면,
        removeFileToServer(uuid,fileName).then(
            // 섬네일 미리보기 화면도(카드) 같이 제거.
            data => {targetDiv.remove()}
        )

    }



</script>
</body>
</html>